import * as React from 'react';
import { render } from '@testing-library/react';
import {{ name.pascalCase }} from './{{ name.pascalCase }}';

describe('{{ name.pascalCase }}', () => {
  // Dummy test to get you started
  it('should render without errors', () => {
    // Act
    const { container } = render(<{{ name.pascalCase }} />);

    // Assert
    expect(container).toBeTruthy();
  });
});
