import * as React from 'react';

/**
 * Props for the {{ name.pascalCase }} component.
 */
export type {{ name.pascalCase }}Props = React.HTMLAttributes<HTMLDivElement>;

/**
 * {{ description }}
 *
 * @param props
 * @returns
 */
const {{ name.pascalCase }}: React.FC<{{ name.pascalCase }}Props> = (props) => {
  const { /* extract custom props here */ ...forwardedProps } = props;

  return <div {...forwardedProps} />;
}

export default {{ name.pascalCase }};
