## {{ title }}

{{ description }}

For information on the scripts and dependencies included with this template,
[visit the template repository on GitHub.](https://github.com/utori-dev/template-react-app-prototype)
