import store from './_store';
import {{ name.camelCase }} from './{{ name.camelCase }}.slice';

describe('state/store/{{ name.pascalCase }}', () => {
  it('should be initialized with state', () => {
    /**
      Add tests, huzzah!
    */
    fail('No tests have been added!');
  });
});
