import { createSlice, PayloadAction } from '@reduxjs/toolkit';

type {{ name.pascalCase }}Reducers = {
  /**
  * Define reducer types
  */
}

/**
 * {{ description }}
 *
 */
export const {{ name.camelCase }} = createSlice({
  name: '{{ name.camelCase }}',
  initialState: {
    /**
    * set the initial state
    */
  },
  reducers: {
    /**
    * Add reducers actions here
    */
  },
  selectors: {
    /**
    * Add selectors here
    */
  }
});

export default {{ name.camelCase }};
