import store from './_store';
import { /** import reducer actions */ } from './{{ name.camelCase }}.slice';

describe('{{ name.pascalCase }} state tests', () => {
  it('Should be initialized with state', () => {
    /**
      Add tests, huzzah!
    */
  });
});
